/*GERAL*/
:root{
	--black: rgba(5,5,5,1);
	--bright-gray: rgba(160,160,160,1);
	--bright-red: rgba(220,0,0,1);
	--dark-gray: rgba(80,80,80,1);
	--dark-red: rgba(80,0,0,1);
	--red: rgba(160,0,0,1);
	--white: rgba(245,245,245,1);
}
body{
	background: var(--red) url(images/cutlery.jpg) center/cover no-repeat fixed;
	/*background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;*/
	color: var(--black);
	font-family: "Times New Roman", Times, serif;
	font-size: 16pt;
	margin: 0px;
}
/*Textos*/
h3{
	font-size: 5rem;
	margin: 0px;
}
h4{
	background-color: var(--white);
	margin: 0px;
	text-transform: uppercase;
}

/*NAVEGAÇÃO*/
nav{
	background-color: var(--black);
	font-size: 2rem;
	margin: 0px;
	opacity: 0.1;
	position: fixed;
	transition: 0.5s;
	width: 100%;
}
nav:hover{
	opacity: 1;
	transition: 0.5s;
}
nav ul{
	margin: 0px;
	padding: 0px;
}
nav ul li{
	display: inline-block;
	list-style: none;
	padding: 20px;
}
nav a{
	color: var(--white);
	text-decoration: none;
}
/*Hover*/
nav a:hover{
	color: var(--red);
	transition: 0.5;
}
nav ul li:hover{
	background-color: var(--white);
}
/*Active*/
nav a:active{
	color: var(--bright-red);
}

/*TÍTULO*/
#section-title{
	min-height: 100vh;
	text-align: center;
}
#section-title h1{
	color: var(--white);
	font-family: fantasy;
	font-size: 6rem;
	margin: 0px;
	padding-top: 10%;
	text-shadow: -6px 6px var(--black);
}
#section-title h2{
	background-color: var(--red);
	color: var(--white);
	font-size: 4rem;
	text-shadow: -6px 6px var(--dark-red);
}

/*COMO TRABALHAMOS*/
#section-howwework{
	background-color: var(--white);
	font-size: 2rem;
	min-height: 100vh;
	padding-top: 92px;
	vertical-align: middle;
}
#section-howwework article{
	padding: 20px;
	text-align: justify;
}
#section-howwework h3{
	color: var(--bright-red);
	text-align: center;
	text-shadow: -2px 2px var(--dark-red);
}

/*PRODUTOS*/
#section-products{
	background-color: var(--black);
	min-height: 100vh;
	padding-top: 92px;
	text-align: center;
}
#article-products{
	width: 100%;
}
#article-products .product{
	float: left;
	height: 100%;
	width: 30%;
}
.product:nth-child(1), .product:nth-child(3){
	margin: 0px 2.5% 0px 2.5%;
}.product{
	background-color: var(--red);
}
/*Textos*/
#section-products h3{
	color: var(--white);
}
#section-products h4{
	padding: 20px;
}
#section-products p{
	color: var(--white);
}
/*Imagens*/
.product img{
	height: 200px;
	width: 100%;
}
/*Caixa de alerta*/
#alert-box{
	background-color: rgba(5,5,5,0.5);
	height: 100vh;
	position: fixed;
	width: 100vw;
}
#alert-product{
	background-color: white;
	border: 2px solid var(--black);
	height: 80vh;
	margin: 10vh auto 0px auto;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 60vw;
}
/*Textos*/
#alert-title{
	font-size: 3rem;
	text-align: center;
}
#alert-body{
	background-color: var(--red);
	color: var(--white);
	margin: 0px;
	text-align: justify;
}
/*Imagens*/
#alert-image{
	margin: 0px;
	width: 100%;
}

/*LOCATION*/
#section-location{
	background: var(--black) url(images/restaurant-above.jpg) center/cover no-repeat;
	min-height: 100vh;
}

/*CONTATO*/
#section-contact{
	background-color: var(--white);
	min-height: 100vh;
	padding-top: 92px;
	text-align: center;
}
/*Entradas*/
.div-input{
	border: 2px solid var(--bright-gray);
	cursor: text;
	margin: 25px 20% 25px 20%;
	padding: 20px 20px 20px 40px;
	text-align: left;
	width: auto;
}
input[type=name], input[type=email], textarea{
	background-color: var(--white);
	border: 0px;
	font-size: 2rem;
	resize: none;
	width: 100%;
}
textarea{
	height: 200px;
}
label{
	color: var(--dark-gray);
	font-size: 2rem;
	font-weight: 900;
}
/*Botões*/
.div-input:nth-child(5){
	border: 0px;
	height: 75px;
	padding: 0px 200px 0px 0px;
}
button{
	border-width: 10px;
	cursor: pointer;
	font-size: 2em;
	height: 100%;
	text-align: center;
	width: 100%;
	/*Cores*/
	background-color: var(--white);
	border-top-color: var(--white);
	border-right-color: var(--bright-gray);
	border-bottom-color: var(--black);
	border-left-color: var(--white);
	color: var(--black);
	transition: 0.35s;
}
button:hover{
	/*Cores*/
	background-color: var(--black);
	border-top-color: var(--black);
	border-right-color: var(--black);
	border-bottom-color: var(--black);
	border-left-color: var(--black);
	color: var(--white);
	transition: 0.35s;
}

/*FOOTER*/
footer{
	background-color: var(--black);
	color: var(--white);
	text-align: center;
}